body {
    background-color:rgb(221, 251, 174);
  }
  

  a {color: rgb(56, 92, 23);}
  
  li:hover {
    background: rgb(201, 243, 118);
}

.menu {
  background:rgb(231, 241, 154);
    color: rgb(160, 85, 23);
    margin: 0px;
    padding: 70px;
    text-align: center;
    background: rgb(231, 241, 154);
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ;} 

.bestsellers {
  background-color: rgb(231, 241, 154);
}
.quote { font-style:italic}
.content { font-style:italic}
span {font-style: italic ;
}
#Mike {background-color:rgb(231, 241, 154);}

@media screen and (min-width: 3000px) {
  body {
    background-color:rgb(183, 215, 133);
  }
}
body {
  margin: 50px;
}
li {background: rgb(221, 251, 174);
  display: inline-block;
  width: 20%;
}
table, th, td {
border:1px solid black;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;}

  